.box{
    padding: 50px;
    display: inline-block;
    position: relative;
    background-color:burlywood;
    border: 1px solid cadetblue;
}

.bone{
    border: 1px solid cadetblue;
    background-color: aquamarine;
    height: 30px;
    width:50px;
    position: relative;
    top:30px;
}

.up{
    border: 1px solid cadetblue;
    background-color: aquamarine;
    height: 30px;
    width:50px;
    position: relative;
    top:0px;
}

.down{
    border: 1px solid cadetblue;
    background-color: aquamarine;
    height: 30px;
    width:50px;
    position: relative;
    top:30px;
}